a .deco-none{
  text-decoration: none;
  color: black; /* For Example */
}

a:hover .deco-none {
  text-decoration: none;
  color : black;
}


.navbar-custom {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.navbar-brand {
  color : white!important;
  font-size: 1.2em
}

.navbar-brand:hover {
  color : black!important;
}

.card-background {
  background-color: #e9ecef;
}

.card-title {
  font-size : 1.2em
}
